body {
    background: url("../images/anime.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.char:nth-child(1),
.char:nth-child(2),
.char:nth-child(3) {
    margin-right: 10px;
}

.enemies-name,
.character-name {
    color: rgb(219, 158, 26);
    background: darkslateblue;
    border: 5px ridge burlywood;
    opacity: 0.9;
}

.enemies,
.enemies-name {
    visibility: hidden;
}